/* PARAMETROS GLOBALES */
:root {
    --font-family-type: 'Bona Nova', serif;

 /* TYPOGRAPHY */
    --typography-color--black: #222621;
    --typography-color--subtitles: #8C592B;
    --typography-color--paragraphs: #BF9169;
    --typography-color--white: white;

    --constraste-color: #FCAF25;

/* BUTTON */
    --background-color--button: #DEBEB1;
    --background-color--hover:#D99791;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    text-decoration: none;
    text-decoration-color: none;
}

html {
    scroll-behavior: smooth;
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
}

body {
    font-family: var(--font-family-type)
}

/* Estilos tipografía: */

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.5rem;
    letter-spacing: 35px;
    color: var(--typography-color--subtitles);
}

h3 {
    font-size: 2rem;
    border-bottom: 0.2rem solid var(--constraste-color);
    text-align: center;
    width: 100%;
}

h4 {
    font-size: 1.1rem;
}

p, 
label,
.footer-contact a {
    font-size: 1.3rem;
    color: var(--typography-color--black);
}

a {
    color: var(--typography-color--black); 
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    font-size: 1.5rem;
}

/* Estilo HEADER */

header {
    background-image: url(./assets/icon/cat_calico.png);
    background-color: #DEBEB1;
    height: 500px;
    width:  100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    border: 3px solid #fff;
    box-shadow: 0 0 25px #222;
}

.logo {
    display: flex;
}

.logo img {
    width: 5rem;
}

.header-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    background-image: linear-gradient(to left, var(--background-color--button), rgba(255, 122, 89,0));
}

.navbar {
    font-size: 1.2rem;
    margin-top: 10px;
}
 
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-list li {
    text-align: center;
    margin-left: 30px;
}

.nav-link {
    padding: 5px 50px;
}

.nav-link:hover,
.footer-nav-link:hover {
    background-size: 100% 2px;
    transition-duration: 0.5s;
}

.header-secundary {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    text-align: center;
    flex-wrap: wrap;
    width: 50%;
} 

/* TIENDA!, estilos MAIN */

main {
    margin: 3rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    min-height: 40rem;
}

.store-products {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    width: 100%;
}

.container-gallery {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem;
   
    -webkit-box-shadow: 10px 16px 18px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 10px 16px 18px 0px rgba(0,0,0,0.23);
    box-shadow: 10px 16px 18px 0px rgba(0,0,0,0.23);
    border: 0px solid var(--background-color--hover);
    background-color: var(--typography-color--white);
}

.container-gallery:hover {
    border: 0.1rem solid var(--constraste-color);
    transition: 0.5s;
    transform: scale(1.01);
}

.container-gallery > * {
    padding: 0 1.5rem;
}

.container-gallery img {
    height: 14rem;
    width: 14rem;
    object-fit: contain;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

#products-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* ESTILOS DEL FILTRO */

#filtros {
    padding: 0 5rem;
    text-align: center;
    width: 100%;
    height: 14%;
	position: sticky;
	top: 1rem;
}

#filtros > h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#option-picker, 
.filter-block > input {
    color: var(--typography-color--black);
    border-bottom: 0.2rem solid var(--typography-color--black);
    height: 2rem;
    width: 15rem;
    border-radius: 10rem;
    padding-left: 1rem;
    margin: 1rem 0;
}

#option-picker:hover {
    transition-duration: 2s;
}

.filter-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--background-color--button);
    width: 10rem;
    height: 2rem;
    border-radius: 30px;
    border: 1px solid var(--typography-color--white);
    text-decoration: none;
    font-size: 1rem;
    color: var(--typography-color--white);
    display: block;
    justify-content: center;
}

button:hover {
    background-color: var(--background-color--hover);
    transition-duration: 2s;
    
}

.gif-cats {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.reset {
    border: 0.2rem solid var(--constraste-color);
    display: flex;
    margin-top: 1rem;
    padding: 1rem;
    justify-content: center;
}

#botton-reset {
   color: var(--typography-color--black);
   font-weight: bold;
}


/* FOOTER */

.article-contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 0;
    gap: 2rem;
    background: rgb(217,151,145);
    background: linear-gradient(90deg, rgba(217,151,145,1) 0%, rgba(222,190,177,1) 50%, rgba(191,145,105,1) 100%);
}

.footer-contact {
    display: flex;
    align-items: center;
}

.nav-list-footer {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 0;
}

.article-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background: rgb(217,151,145);
    background: linear-gradient(90deg, rgba(217,151,145,1) 0%, rgba(222,190,177,1) 50%, rgba(191,145,105,1) 100%);
}

.footer-rrss img,
.article-contacts img {
    width: 40px;
    height: auto;
    margin: 0 1rem;
    cursor: pointer;
    transition: transform .3s; 
}

.footer-rrss img:hover {
    transform: scale(1.2);
}

.no-information h3 {
    margin: 0 4rem;
    text-align: center;
}

/* Diferentes vistas: */

@media screen and (max-width: 920px) {
    .header-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    p,
    .footer-contact a {
        font-size: 0.9rem;
    }

    .article-copyright {
        padding: 1rem;
    }

    .store-products {
        display: block;
    }


    #products-list {
        margin-top: 2rem;
    }

    .container-gallery img {
        height: 14rem;
        width: 14rem;
    }

    #filtros {
        position: static;
    }

    .gif-cats img{
        /* background-color: gray; */
        width: 70%;
        padding-bottom: 2rem;
    }
    
}

@media screen and (max-width: 595px) {
    
    h4 {
        font-size: 0.9rem;
    }

    p,
    .footer-contact a {
        font-size: 0.8rem;
    }

    header {
        margin: 0;
        padding: 0;
        
    }

    .nav-link {
        padding: 0 1.5rem;
    }
    
    .header-principal {
        margin: 0;
        padding: 0;
    }

    main {
        margin: 1rem 1rem;
    }

    .header-secundary {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 5rem;
        backdrop-filter: blur(20px);
    }

    #products-list {
        display: flex;
    }

    .container-gallery {
        display: flex;
        flex-direction: column;
    }
    
    .store-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .article-contacts {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
    }

    .article-contacts img, 
    .article-copyright img {
       height:2rem;
       width: 2rem;
    }

    .article-copyright {
        display: flex;
        flex-direction: column-reverse;
        gap: 0.5rem;
    }
    
}

@media screen and (max-width: 425px) {

    header {
        background-image: none;
        width: auto;
    }

    .nav-list {
        display: block;
    }

    .header-principal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header-secundary {
        margin-top: 5rem;
    }

    .nav-list-footer {
        display: block;
        text-align: center;
    }

    #filtros{
        padding: 0;
    }
    
}